.timelineItem {
  text-overflow: ellipsis;
  word-wrap: normal;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 100%;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 0.2s all;
}
.timelineItem .mediaNumber {
  font-size: 2.6em;
}

.mediaDescription {
  height: 100%;
  word-wrap: normal;
  white-space: nowrap;
  word-break: keep-all;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: flash 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes flash {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
