.mediaWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: 10px;
  cursor: pointer;
}
.inactive {
  border: 4px solid hsl(0, 0%, 90%);
}
.active {
  border: 4px solid hsl(337, 100%, 34%);
}
.next {
  border: 4px solid hsl(152, 100%, 37%);
}
.media {
  border-radius: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  width: 95%;
  height: 95%;
}
.name {
  width: 200px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
